Repository jbcom/nodejs-rivermarsh: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: migrate to Strata character and camera systems
  src/components/Player.tsx
  src/components/World.tsx
  src/components/mobile/GyroscopeCamera.tsx
  src/components/mobile/VirtualJoysticks.tsx
Due: biome check --write --no-errors-on-unmatched

fix: revert to custom mobile components until Strata library update is released
  src/components/game/BossBattleEffects.tsx
  src/components/mobile/GyroscopeCamera.tsx
  src/components/mobile/VirtualJoysticks.tsx
  src/components/ui/BossBattleOverlay.tsx
Due: biome check --write --no-errors-on-unmatched

fix: cast activeBossId to any for string comparison
  src/components/game/BossBattleEffects.tsx
  src/components/ui/BossBattleOverlay.tsx
Due: biome check --write --no-errors-on-unmatched

fix: use numeric comparison for activeBossId
  src/components/game/BossBattleEffects.tsx
  src/components/ui/BossBattleOverlay.tsx
Due: biome check --write --no-errors-on-unmatched

fix: update HUD test mocks to include entities array
  src/components/ui/__tests__/HUD.test.tsx
Due: biome check --write --no-errors-on-unmatched

fix: resolve React ref access during render and immutability errors
  src/features/racing/RacingScene.tsx
  src/systems/AudioSystem.tsx
Due: biome check --write --no-errors-on-unmatched

Migrate to Strata character and camera systems (#86)
  src/components/Player.tsx
  src/components/World.tsx
  src/components/game/BossBattleEffects.tsx
  src/components/mobile/GyroscopeCamera.tsx
  src/components/mobile/VirtualJoysticks.tsx
  src/components/ui/BossBattleOverlay.tsx
  src/components/ui/__tests__/HUD.test.tsx
  src/features/racing/RacingScene.tsx
  src/stores/__tests__/engineStore.death.test.ts
  src/systems/AudioSystem.tsx
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: add VITE_BASE_URL for proper GitHub Pages deployment
  .github/workflows/deploy.yml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: add VITE_BASE_URL for proper GitHub Pages deployment (#90)
  .github/workflows/deploy.yml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched

feat: add @strata/capacitor-plugin for standardized storage and input (#91)
  package.json
Due: biome format --write --no-errors-on-unmatched

Revert "feat: add @strata/capacitor-plugin for standardized storage and input (#91)"
  package.json
Due: biome format --write --no-errors-on-unmatched

Revert "feat: add @strata/capacitor-plugin for standardized storage and input (#91)" (#92)
  package.json
Due: biome format --write --no-errors-on-unmatched

fix: replace strata 3D components with HTML equivalents in HUD
  src/components/ui/HUD.tsx
Due: biome check --write --no-errors-on-unmatched

fix: replace strata 3D components with HTML equivalents in HUD (#93)
  src/components/ui/HUD.tsx
Due: biome check --write --no-errors-on-unmatched

Refactor: Update pnpm lockfile and dependencies
  pnpm-lock.yaml
  src/App.tsx
  src/components/game/GameUI.tsx
  src/ecs/systems/PlayerSyncSystem.ts
  src/stores/engineStore.ts
  src/stores/syncStores.ts
Due: biome check --write --no-errors-on-unmatched

Checkpoint before follow-up message
  playwright-report/index.html
  playwright.config.ts
  src/components/ui/HUD.tsx
  src/components/ui/__tests__/HUD.test.tsx
  test-results/biome-exploration-Biome-Ex-1fd43--from-marsh-to-forest-biome-chromium/error-context.md
  test-results/biome-exploration-Biome-Ex-1fd43--from-marsh-to-forest-biome-chromium/test-failed-1.png
  test-results/biome-exploration-Biome-Ex-37083--colors-at-biome-boundaries-chromium/error-context.md
  test-results/biome-exploration-Biome-Ex-37083--colors-at-biome-boundaries-chromium/test-failed-1.png
  test-results/biome-exploration-Biome-Ex-5ced3-ransitions-without-crashing-chromium/error-context.md
  test-results/biome-exploration-Biome-Ex-ab001--from-marsh-to-desert-biome-chromium/error-context.md
  test-results/biome-exploration-Biome-Ex-ab001--from-marsh-to-desert-biome-chromium/test-failed-1.png
  test-results/biome-exploration-Biome-Ex-d0a9c-ce-during-biome-transitions-chromium/error-context.md
  test-results/biome-exploration-Biome-Ex-d0a9c-ce-during-biome-transitions-chromium/test-failed-1.png
  test-results/game-initialization-Game-I-a2d60-should-display-HUD-elements-chromium/error-context.md
  test-results/game-initialization-Game-I-a2d60-should-display-HUD-elements-chromium/test-failed-1.png
  test-results/game-systems-Game-Systems--83e89--system-and-update-lighting-chromium/error-context.md
  test-results/game-systems-Game-Systems--83e89--system-and-update-lighting-chromium/test-failed-1.png
  test-results/game-systems-Game-Systems--a654f--maintain-stable-frame-rate-chromium/error-context.md
  test-results/game-systems-Game-Systems--a654f--maintain-stable-frame-rate-chromium/test-failed-1.png
  test-results/gameplay-Gameplay-Features-319e3-player-to-explore-the-world-chromium/error-context.md
  test-results/gameplay-Gameplay-Features-should-handle-jumping-chromium/error-context.md
  test-results/gameplay-Gameplay-Features-should-handle-jumping-chromium/test-failed-1.png
  test-results/gameplay-verification-Phys-57570-d-not-teleport-unexpectedly-chromium/error-context.md
  test-results/gameplay-verification-Phys-57570-d-not-teleport-unexpectedly-chromium/test-failed-1.png
  test-results/gameplay-verification-Stam-0eb88-ing-should-decrease-stamina-chromium/error-context.md
  test-results/gameplay-verification-Stam-0eb88-ing-should-decrease-stamina-chromium/test-failed-1.png
  test-results/gameplay-verification-Stam-a056f-generate-when-not-sprinting-chromium/error-context.md
  test-results/gameplay-verification-Stam-a056f-generate-when-not-sprinting-chromium/test-failed-1.png
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Checkpoint before follow-up message
  src/stores/rpgStore.ts
Due: biome check --write --no-errors-on-unmatched

Checkpoint before follow-up message
  .crewai/knowledge/ecs_patterns/ai_yuka.ts
  .crewai/knowledge/ecs_patterns/biomes.ts
  .crewai/knowledge/ecs_patterns/combat.ts
  .crewai/knowledge/ecs_patterns/systems.ts
  .crewai/manifest.yaml
  .kiro/specs/otterfall-complete/design.md
  .kiro/specs/otterfall-complete/requirements.md
  .kiro/specs/otterfall-complete/tasks.md
  DESIGN.md
  index.html
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Checkpoint before follow-up message
  README.md
  src/components/game/GameUI.tsx
  src/components/game/ShopPanel.tsx
  src/components/ui/HUD.tsx
  src/components/ui/Loader.tsx
  src/components/ui/MainMenu.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Checkpoint before follow-up message
  src/stores/gameStore.ts
Due: biome check --write --no-errors-on-unmatched

Refactor: Remove unused imports in tests
  src/components/ui/__tests__/Tutorial.test.tsx
  src/stores/__tests__/gameStore.property.test.ts
Due: biome check --write --no-errors-on-unmatched

chore: remove nightly-improve.yml (handled by control-center)
  .github/workflows/nightly-improve.yml
Due: none

chore: remove auto-assign.yml (handled by control-center)
  .github/workflows/auto-assign.yml
Due: none

chore: remove redundant workflows (#95)
  .github/workflows/auto-assign.yml
  .github/workflows/auto-merge.yml
  .github/workflows/nightly-improve.yml
  .github/workflows/ollama-pr-review.yml
  .github/workflows/project-sync.yml
Due: none

fix: build errors in save system migration
  src/utils/save.ts
Due: biome check --write --no-errors-on-unmatched

fix(achievements): remove unused useFrame to fix build
  src/components/game/AchievementEffects.tsx
Due: biome check --write --no-errors-on-unmatched

test(ui): add data-testid to HealthBar for HUD tests
  src/components/ui/HUD.tsx
Due: biome check --write --no-errors-on-unmatched

fix(boss): correct spell casting effect detection
  src/components/game/BossBattleEffects.tsx
Due: biome check --write --no-errors-on-unmatched

fix: resolve TS unused variable in TapToCollect
  src/components/TapToCollect.tsx
Due: biome check --write --no-errors-on-unmatched

Final cleanup and integration of all systems
  src/components/Player.tsx
  src/components/mobile/MobileActionButtons.tsx
  src/systems/input.tsx
Due: biome check --write --no-errors-on-unmatched

fix: resolve typescript errors in main after unification
  src/components/TapToCollect.tsx
  src/components/ui/QuestOverlay.tsx
  src/ecs/components.ts
  src/ecs/systems/QuestSystem.ts
Due: biome check --write --no-errors-on-unmatched

fix: resolve remaining build and test errors after PR merges
  src/components/Player.tsx
  src/components/TapToCollect.tsx
  src/components/game/AchievementEffects.tsx
  src/components/mobile/MobileActionButtons.tsx
  src/components/ui/HUD.tsx
  src/components/ui/__tests__/HUD.test.tsx
  src/ecs/systems/AchievementSystem.ts
  src/ecs/systems/QuestSystem.ts
  src/stores/__tests__/rpgStore.test.ts
  src/systems/input.tsx
  src/utils/__tests__/save.test.ts
Due: biome check --write --no-errors-on-unmatched

feat: consolidate all unmerged features and implement advanced save/load
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/Player.tsx
  src/components/TapToCollect.tsx
  src/components/World.tsx
  src/components/game/AchievementEffects.tsx
  src/components/game/BossBattleEffects.tsx
  src/components/game/OtterNPC.tsx
  src/components/game/SpellSystem.tsx
  src/components/game/index.ts
  src/components/mobile/MobileActionButtons.tsx
  src/components/ui/AchievementOverlay.tsx
  src/components/ui/BossBattleOverlay.tsx
  src/components/ui/HUD.tsx
  src/components/ui/PauseMenu.tsx
  src/components/ui/SettingsPanel.tsx
  src/components/ui/__tests__/HUD.test.tsx
  src/constants/game.ts
  src/ecs/components.ts
  src/ecs/systems/AchievementSystem.ts
  src/ecs/systems/BiomeSystem.ts
  src/ecs/systems/CombatSystem.ts
  src/ecs/systems/QuestSystem.ts
  src/ecs/systems/ResourceSystem.ts
  src/events/combatEvents.ts
  src/hooks/useMobileConstraints.ts
  src/stores/__tests__/gameStore.death.test.ts
  src/stores/__tests__/gameStore.leveling.test.ts
  src/stores/controlsStore.ts
  src/stores/gameStore.ts
  src/stores/useAchievementStore.ts
  src/systems/GameSystems.tsx
  src/systems/input.tsx
  src/utils/save.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,jsx,tsx}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md}
