Repository jbcom/nodejs-rivermarsh: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
    "*.{js,ts,jsx,tsx}": ["biome check --write --no-errors-on-unmatched"],
	"*.{json,md}": ["biome format --write"],
    "*.{json,md}": ["biome format --write --no-errors-on-unmatched"]
}

chore: add ecosystem-connector (#115)
  .github/workflows/ecosystem-connector.yml
Due: none

feat: Add save/load game functionality with versioning
  src/utils/__tests__/save.test.ts
  src/utils/save.ts
Due: biome check --write --no-errors-on-unmatched

feat(mobile): improve gameplay polish and haptic feedback
  src/components/Player.tsx
  src/components/mobile/MobileActionButtons.tsx
  src/stores/controlsStore.ts
  src/systems/input.tsx
Due: biome check --write --no-errors-on-unmatched

fix: reconcile SonarQube feedback and update ecosystem connector permissions
  .github/workflows/ecosystem-connector.yml
  src/components/ui/HUD.tsx
  src/stores/rpgStore.ts
  src/utils/audioManager.ts
Due: biome check --write --no-errors-on-unmatched

test: migrate store unit tests to new split architecture
  src/stores/__tests__/engineStore.test.ts
  src/stores/__tests__/gameStore.property.test.ts
  src/stores/__tests__/gameStore.test.ts
  src/stores/__tests__/rpgStore.test.ts
Due: biome check --write --no-errors-on-unmatched

fix: affinityChange type safety in rpgStore
  src/stores/rpgStore.ts
Due: biome check --write --no-errors-on-unmatched

test: add basic unit tests for QuestSystem
  src/ecs/systems/__tests__/QuestSystem.test.ts
Due: biome check --write --no-errors-on-unmatched

Refactor: Update Quest type import in save utility
  src/utils/save.ts
Due: biome check --write --no-errors-on-unmatched

feat: mobile polish, haptic feedback, and spell system
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/projectBrief.md
  memory-bank/systemPatterns.md
  src/components/Player.tsx
  src/components/World.tsx
  src/components/game/Combat.tsx
  src/components/game/GameUI.tsx
  src/components/game/OtterNPC.tsx
  src/components/game/ShopPanel.tsx
  src/components/mobile/MobileActionButtons.tsx
  src/components/ui/AchievementOverlay.tsx
  src/components/ui/BossBattleOverlay.tsx
  src/components/ui/EventOverlay.tsx
  src/components/ui/GameOver.tsx
  src/components/ui/HUD.tsx
  src/components/ui/MainMenu.tsx
  src/components/ui/PauseMenu.tsx
  src/components/ui/QuestOverlay.tsx
  src/components/ui/SettingsPanel.tsx
  src/ecs/components.ts
  src/ecs/systems/CombatSystem.ts
  src/ecs/systems/QuestSystem.ts
  src/events/combatEvents.ts
  src/hooks/useMobileConstraints.ts
  src/stores/controlsStore.ts
  src/stores/engineStore.ts
  src/stores/rpgStore.ts
  src/systems/GameSystems.tsx
  src/systems/input.tsx
  src/utils/haptics.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(sync): [skip actions] synced local './' with remote 'sync-files/always-sync/global/'
  .Jules/palette.md
  .biomeignore
  .cursor/Dockerfile
  .cursor/environment.json
  .cursor/rules/00-fundamentals.mdc
  .cursor/rules/01-pr-workflow.mdc
  .cursor/rules/02-memory-bank.mdc
  .cursor/rules/03-docs-branding.mdc
  .cursor/rules/ci.mdc
  .cursor/rules/releases.mdc
  .cursor/rules/typescript.mdc
  .github/actions/agentic-ci-resolution/action.yml
  .github/actions/agentic-issue-triage/action.yml
  .github/actions/agentic-pr-review/action.yml
  .github/metaprompts/bolt.md
  .github/metaprompts/palette.md
  .github/metaprompts/scribe.md
  .github/metaprompts/sentinel.md
  .github/metaprompts/triage.md
  .github/prompts/assessment.md
  .github/workflows/autoheal.yml
  .github/workflows/delegator.yml
  .github/workflows/review.yml
  .github/workflows/triage.yml
  CONTRIBUTING.md
  JBCOM_CONTROL_CENTER_AGENT_USE.md
  commitlint.config.js
  docs/DESIGN-SYSTEM.md
  docs/DOMAIN-STANDARD.md
  docs/ECOSYSTEM.md
  docs/_static/jbcom-sphinx.css
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched
